<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>New Phone Price Comparer</title>
	<link rel="stylesheet" href="~/app.css"/>
</head>
<body>
<header>
	<h1>
		<a href="/">New Phone Price Comparer</a>
	</h1>
</header>
<main>
	@RenderBody()
</main>

<footer>
	&copy; 2021 <a href="https://ecoAPM.com">ecoAPM LLC</a>
</footer>
</body>
</html>